@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="jumbotron my-5 bg-dark text-white">
    <h1>MegaDesk WebApp</h1>
    <p>Helping people to achieve their dreams.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>*@

<!-- Gallery -->
<div class="row my-5">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="https://images.unsplash.com/photo-1593062096033-9a26b09da705?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />

        <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />

        <img src="https://images.unsplash.com/photo-1518655048521-f130df041f66?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://images.unsplash.com/photo-1519219788971-8d9797e0928e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1928&q=80"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />

        <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
    </div>
</div>
<!-- Gallery -->